<div class="main">
  <div class="header" >
    <h1>Login or Create a Free Account!</h1>
  </div>
  <p>Lorem iopsum dolor sit amit,consetetur sadipscing eliter,sed diam voluptua.At vero  eso et accusam et justo duo dolores et ea rebum. </p>
    <form action="/register" method="post">
      <ul class="left-form">
        <h2>New Account:</h2>
        <li>
          <input type="text" id ="username" name="username"  placeholder="Username" required/>
          <a href="#" class="icon ticker"> </a>
          <div class="clear"> </div>
        </li>
        <li>
          <input type="text" id ="email" name="email"  placeholder="Email" required/>
          <a href="#" class="icon ticker"> </a>
          <div class="clear"> </div>
        </li>
        <li>
          <input type="password" id="pass" name="pass" placeholder="password" required/>
          <a href="#" class="icon into"> </a>
          <div class="clear"> </div>
        </li>
        <li>
          <input type="password" id="confirmpass" name ="confirmpass"  placeholder="password" required/>
          <a href="#" class="icon into"> </a>
          <div class="clear"> </div>
        </li>
        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </label>
        <input type="submit" value="Create Account">
          <div class="clear"> </div>
      </ul>
    </form>
    <form>
      <ul class="right-form">
        <h3>Login:</h3>
        <div>
          <li><input type="text"  placeholder="Username" required/></li>
          <li> <input type="password"  placeholder="Password" required/></li>
          <h4>I forgot my Password!</h4>
            <input type="submit" onclick="/reg" value="Login" >
        </div>
        <div class="clear"> </div>
      </ul>
      <div class="clear"> </div>

    </form>

</form>
  </div>
    <!-----start-copyright---->
          <div class="copy-right">
          <p>Template by <a href="http://w3layouts.com">w3layouts</a></p>
        </div>
      <!-----//end-copyright---->
